<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/header.ejs') %> 
    <br><br>

    <main>
        <div class="div-botones-admin">
          <a href="./userList"><button class="botones-admin">Usuarios</button></a>
      </div>
      <div class="div-botones-admin">
          <a href="./products"><button class="botones-admin">Productos</button></a>
      </div>
    </main>

</body>
<%- include('./partials/footer.ejs') %>
</html> 
