<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/header.ejs') %> 
<body>
    <img class="error-image" src="/images/Error404.jpg" alt="">
</body>
<style>
body{
  height: 100vh;
}

.error-image{
  width: 75%;
  height: 75%;
  object-fit: cover;
  margin-left: 130px;
  
}
</style>
</html>